<%- include("partials/header.ejs") %>

<div class="container">
    <div class="heading">
        <h1>Work List</h1>
    </div>

    <form class="inputForm" action="/submit" method="POST">
        <input class="inputText" type="text" name="task" placeholder="New task" autocomplete="off" required>
        <button class="addButton" type="submit" name="list" value="work">+</button>
    </form>

    <ul>
        <% if (locals.toDoList) { %>
            <% for (var i=0; i < toDoList.length; i++) { %>
                <li class="listItem">
                    <input class="complete" type="checkbox" label="completed">
                    <p class="item">
                        <%= toDoList[i] %>
                    </p>
                    <form action="/delete" method="POST">
                        <button class="deleteButton" type="submit" name="deleteWork" value="<%= i %>">x</button>
                    </form>
                </li>
            <% } %>
        <% } %>
    </ul>
</div>

<%- include("partials/footer.ejs") %>